/* Resets margin, padding, and sets box-sizing for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles for body, centers content both vertically and horizontally */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #050505;
}

/* Styles for the cube - sets its dimensions and 3D transformation settings */
.cube {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 4s linear infinite;
  /* Animation for rotating the cube */
}

/* Keyframes for cube animation, rotates the cube in Y-axis */
@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

/* General styles for all divs within the cube, sets 3D transformation context */
.cube div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

/* Styles for each face of the cube, positions them in 3D space */
.cube div span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#151515, #00ec00);
  /* Gradient background for faces */
  transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
}

/* Styles for the top face of the cube */
.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: #222;
  transform: rotateX(90deg) translateZ(150px);
}

/* Glowing effect for the top face */
.top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  background: #0f0;
  transform: translateZ(-400px);
  filter: blur(20px);
  box-shadow: 0 0 120px rgba(0, 255, 0, 0.2),
    0 0 200px rgba(0, 255, 0, 0.4),
    0 0 300px rgba(0, 255, 0, 0.6),
    0 0 400px rgba(0, 255, 0, 0.8),
    0 0 500px rgba(0, 255, 0, 1);
}

/* Ensures images within cube faces fit the span dimensions */
.cube div span img {
  width: 300px;
  height: 300px;
}